<html>
      <head>
            <title>Ejemplo Container 00</title>
            <link rel="stylesheet" href="statuc/css/style.css">
      </head>
      <body>
            <h1>Bienvenido al blog de ejemplo</h1>
            <main>
                  <aside>
                         <header>
                                  <h1> Team OpenSource </h1>
                         </header>
                         <article>
                                  <p> Pon aquí tu texto </p>
                         </article>
                  </aside>
            </main>
            <footer>
                    <a href="pcberbi96@gmail.com"> Developer </a>
            </footer>
      </body>
</html>
      
